body{
  background-color: black;
color: darkred;
}

header {
 background-color: rgb(255, 0, 0);
text-align: center;
font-size: 42px;
padding: 10px;
border-bottom: solid 2px white;
}

.primeirovideo {
background-color: gray;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

chamadatexto{
margin-left: 20px;
margin-left: 10px;
text-align: justify;
}

h1 {
font-size: 40px;
margin-left: 150px;
}

p {
  font-size: 20px;
}